<ion-header>

</ion-header>

<ion-content class="ion-padding">
  <h1 class="ion-text-center" style="margin-top: 5%;margin-bottom: 10%">Connexion</h1>

  <div *ngIf="!connected">
<!--  <form padding-right>-->
    <ion-item>
      <ion-label position="floating">Adresse email</ion-label>
      <ion-input type="text" [(ngModel)]="dataUser.email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Mot de passe</ion-label>
      <ion-input type="password" [(ngModel)]="dataUser.password" required></ion-input>
    </ion-item>

    <div class="ion-text-center" style="margin-top: 10%;margin-bottom: 10%">
      <ion-button expand="block" fill="outline" (click)="login()" style="margin-bottom: 5%">Se connecter</ion-button>
      <a class="ion-text-center" style="text-decoration: underline" href="/register">Pas encore de compte ?</a>
    </div>
<!--  </form>-->


      <ion-text class="ion-text-center">
        <p>OU</p>
      </ion-text>

      <div class="ion-text-center" style="margin-top: 12%;margin-bottom: 10%">
        <ion-button style="margin-bottom: 10%" (click)="facebookLogin()" expand="block" >
          <ion-icon ios="logo-facebook" md="logo-facebook" style="margin-right: 4%"></ion-icon>
          Connexion avec Facebook
        </ion-button>
        <ion-button expand="block" >
          <ion-icon ios="logo-google" md="logo-google" style="margin-right: 4%"></ion-icon>
          Connexion avec Google
        </ion-button>
      </div>
  </div>

    <div *ngIf="connected" class="ion-padding">
        <p class="ion-text-center" style="margin-bottom: 5%">Vous êtes bien connecté</p>
        <ion-item style="margin-bottom: 20%">
            <p class="ion-text-center">Adresse email : <b>{{email}}</b></p>
        </ion-item>
        <ion-button expand="block" (click)="logout()" color="danger" >
            Déconnexion
        </ion-button>
    </div>
</ion-content>


