<ion-header>

</ion-header>

<ion-content class="ion-padding">
  <h1 class="ion-text-center" style="margin-bottom: 5%">Inscription</h1>

    <ion-item style="margin-bottom: 5%">
      <ion-label position="floating">Prénom</ion-label>
      <ion-input type="text" [(ngModel)]="dataUser.firstname" required></ion-input>
    </ion-item>

    <ion-item style="margin-bottom: 5%">
      <ion-label position="floating">Nom</ion-label>
      <ion-input type="text" [(ngModel)]="dataUser.lastname" required></ion-input>
    </ion-item>

    <ion-item style="margin-bottom: 5%">
      <ion-label position="floating">Adresse email</ion-label>
      <ion-input type="text" [(ngModel)]="dataUser.email" required></ion-input>
    </ion-item>

    <ion-item style="margin-bottom: 5%">
      <ion-label position="floating">Mot de passe</ion-label>
      <ion-input type="password" [(ngModel)]="dataUser.password" required></ion-input>
    </ion-item>

    <div class="ion-text-center" style="margin-top: 5%;margin-bottom: 5%">
      <ion-button expand="block" fill="outline" (click)="signUp()" style="margin-top: 15%;margin-bottom: 5%">Je m'inscris !</ion-button>
      <a class="ion-text-center" style="text-decoration: underline" href="/login">Vous avez déjà un compte ?</a>
    </div>

 </ion-content>
