<ion-header>

</ion-header>

<ion-content class="ion-padding">
  <h1 class="ion-text-center" style="margin-top: 5%;margin-bottom: 10%">Rénitialisé mon mot de passe</h1>

    <!--  <form padding-right>-->
    <ion-item>
      <ion-label position="floating">Adresse email du compte</ion-label>
      <ion-input type="text" [(ngModel)]="emailToReset" required></ion-input>
    </ion-item>

    <div class="ion-text-center" style="margin-top: 10%;margin-bottom: 10%">
      <ion-button expand="block" fill="outline" (click)="presentAlertConfirm()" style="margin-bottom: 5%">Rénititialiser mon mot de passe</ion-button>
    </div>

</ion-content>


