@import "../../shared/style/variables.scss";

.cardContainer {
  overflow: auto;
  white-space: nowrap;
}

.divider {
  margin: 5% auto 1% auto;
  border-top: 1px solid $greenColor;
  width: 40%;
}

::-webkit-scrollbar {
  display: none;
}

.infiniteList {
  text-align: center;
}
